<h1 mat-dialog-title>Новая задача</h1>
<div mat-dialog-content>
  <form [formGroup]="createFromGroup">
    <mat-form-field appearance="fill">
      <mat-label>Ведите название задачи</mat-label>
      <input matInput
             placeholder="Не больше 100 символов"
             formControlName="todoFromControl"
             (input)="onControlChange()"
             required>
      <mat-error *ngIf="controls.todoFromControl.invalid">{{GetErrorMessage(controls.todoFromControl)}}</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Категория</mat-label>
      <mat-select formControlName="categoryFromControl"
                  (selectionChange)="onControlChange()">
        <mat-option *ngFor="let category of categories"
                    (change)="onControlChange()"
                    [value]="category.name">
          {{category.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="controls.categoryFromControl.invalid">{{GetErrorMessage(controls.categoryFromControl)}}</mat-error>
    </mat-form-field>
    <br>
    <ng-container *ngIf="controls.categoryFromControl.value === newCategoryName">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Ведите название проекта</mat-label>
          <input matInput
                 placeholder="Не больше 300 символов"
                 formControlName="projectFormControl"
                 (input)="onControlChange()"
                 required>
          <mat-error *ngIf="controls.categoryFromControl.valid">{{GetErrorMessage(controls.projectFormControl)}}</mat-error>
        </mat-form-field>
      </div>
    </ng-container>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button
          (click)="closeDialog(false)">ОТМЕНА
  </button>
  <button mat-button
          [disabled]="isValidForm"
          (click)="CreateTodo()">ОК
  </button>
</div>
