<h1 mat-dialog-title>Новая задача</h1>
<div mat-dialog-content>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Ведите название задачи</mat-label>
      <input matInput
             placeholder="Не больше 100 символов"
             [formControl]="todoFromControl"
             required>
      <mat-error *ngIf="todoFromControl.invalid">{{GetErrorMessage(todoFromControl)}}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Категория</mat-label>
      <mat-select [formControl]="categoryFromControl">
        <mat-option *ngFor="let category of categories"
                    [value]="category.name">
          {{category.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="categoryFromControl.invalid">{{GetErrorMessage(categoryFromControl)}}</mat-error>
    </mat-form-field>
  </div>
  <ng-container *ngIf="categoryFromControl.value === newCategoryName">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Ведите название проекта</mat-label>
        <input matInput
               placeholder="Не больше 300 символов"
               [formControl]="projectFormControl"
               required>
        <mat-error *ngIf="projectFormControl.invalid">{{GetErrorMessage(projectFormControl)}}</mat-error>
      </mat-form-field>
    </div>
  </ng-container>
</div>
<div mat-dialog-actions>
  <button mat-button
          mat-dialog-close>ОТМЕНА
  </button>
  <button mat-button
          mat-dialog-close
          cdkFocusInitial
          (click)="onCreateTodo()">ОК
  </button>
</div>
