<div class="container">
  <mat-toolbar color="primary">
    <span class="spacer"></span>
    <span>Задачи</span>
    <span class="spacer"></span>
    <button mat-icon-button
            (click)="openDialogAsync()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar>
  <mat-grid-list cols="3"
                 rowHeight="2:1">
    <ng-container *ngFor="let project of projects">
      <mat-grid-tile>
        <mat-card class="card-container">
          <mat-card-title class="card-title">
            {{project.title}}
          </mat-card-title>
          <mat-divider></mat-divider>
          <div class="card-body-container">
            <ng-container *ngFor="let todo of project.todos">
              <mat-checkbox color="primary"
                            checked="{{todo.isCompleted}}"
                            (change)="onUpdateTodo(todo)"
                            class="checkbox">{{todo.text}}</mat-checkbox>
            </ng-container>
          </div>
        </mat-card>
      </mat-grid-tile>
    </ng-container>
  </mat-grid-list>
</div>
