// Body
.container{
  height: 100vh;
  background: #F3F0F0;
}

// Toolbar
.spacer {
  flex: 1 1 auto;
}

// Card

.card-container{
  width: 90%;
  background: white;
  color: black;
}

.card-body-container{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

