<mat-toolbar>
  <span>My Application</span>
  <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>
        Title
      </mat-card-title>
      <mat-divider></mat-divider>
<!--      <mat-checkbox class="example-margin" [(ngModel)]="checked">Checked</mat-checkbox>-->
      <mat-checkbox class="example-margin">11</mat-checkbox>
      <mat-checkbox class="example-margin">12</mat-checkbox>
      <p>outside</p>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>
        Title 2
      </mat-card-title>
      <mat-divider></mat-divider>
      <mat-checkbox class="example-margin">11</mat-checkbox>
      <mat-checkbox class="example-margin">12</mat-checkbox>
      <p>outside</p>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
  <mat-grid-tile>5</mat-grid-tile>
  <mat-grid-tile>6</mat-grid-tile>
  <mat-grid-tile>7</mat-grid-tile>
  <mat-grid-tile>8</mat-grid-tile>
  <mat-grid-tile>9</mat-grid-tile>
  <mat-grid-tile>10</mat-grid-tile>
</mat-grid-list>
