<mat-toolbar>
  <span>My Application</span>
  <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<mat-grid-list cols="3" rowHeight="2:1">
  <ng-container *ngFor="let project of projects">
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>
          {{project.title}}
        </mat-card-title>
        <mat-divider></mat-divider>
        <ng-container *ngFor="let todo of project.todos">
          <mat-checkbox checked="{{todo.isCompleted}}" (change)="UpdateTodo(todo)" class="example-margin">{{todo.text}}</mat-checkbox>
        </ng-container>
      </mat-card>
    </mat-grid-tile>
  </ng-container>
</mat-grid-list>
